body {
    background: url(https://tonyc417.github.io/Trivia-game/assets/images/trivia.jpg);
}

.center {
     text-align: center;
}

h1 {
    color: white;
    font-size: 60px;
}

#timer {
    color: white;
    font-size: 30px;
    text-align: center;
}

.container {
    background-color: coral;
    margin-right: 100px;
    margin-left: 100px;
    padding-top: 100px;
    padding-bottom: 100px;
}

button {
    width: 200px;
    height: 40px;
    background-color: white;
    color: grey;
    font-size: 20px;
    border: none;
    cursor: pointer;
}

p {
    color: white;
    font-size: 30px;
    text-align: center;
    cursor: pointer;
    line-height: 40px;
}


.correctAnswer {
    display: none;
}

.incorrectAnswer {
    display: none;
}