body {
    background: url("/assets/images/trivia.jpg");
}

.center {
     text-align: center;
}

h1 {
    color: white;
    font-size: 60px;
}

#timer {
    color: white;
    font-size: 30px;
    text-align: center;
}

.container {
    background-color: coral;
    margin-right: 100px;
    margin-left: 100px;
    padding-top: 30px;
    padding-bottom: 350px;
}

button {
    width: 200px;
    height: 40px;
    background-color: white;
    color: grey;
    font-size: 20px;
    border: none;
    cursor: pointer;
}

ul {
    list-style: none;
    cursor: pointer;
    font-size: 30px;
    line-height: 40px;
}


.correctAnswer {
    display: none;
}